<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group row">
    <%= f.label :email, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "user-email" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "user-password" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password_confirmation, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "user-password-confirmation" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :company, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :company, class: "form-control", id: "user-company" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :cif, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :cif, class: "form-control", id: "user-cif" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :reg, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :reg, class: "form-control", id: "user-reg" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :address, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :address, class: "form-control", id: "user-address" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :city, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :city, class: "form-control", id: "user-city" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :state, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :state, class: "form-control", id: "user-state" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :zip, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :zip, class: "form-control", id: "user-zip" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :bank, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :bank, class: "form-control", id: "user-bank" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :iban, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :iban, class: "form-control", id: "user-iban" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <%= f.submit "Sign up", class: "btn btn-primary", id: "user-registration-submit" %>
    </div>
  </div>
<% end %>
