<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "user-email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", id: "user-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "user-password-confirmation" %>
  </div>

  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>

  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company, id: "user-company" %>
  </div>

  <div class="field">
    <%= f.label :cif %><br />
    <%= f.text_field :cif, id: "user-cif" %>
  </div>

  <div class="field">
    <%= f.label :reg %><br />
    <%= f.text_field :reg, id: "user-reg" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, id: "user-address" %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, id: "user-city" %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, id: "user-state" %>
  </div>

  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, id: "user-zip" %>
  </div>

  <div class="field">
    <%= f.label :bank %><br />
    <%= f.text_field :bank, id: "user-bank" %>
  </div>

  <div class="field">
    <%= f.label :iban %><br />
    <%= f.text_field :iban, id: "user-iban" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", id: "user-registration-submit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
