<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Invoicer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'stylesheets/application' %>

    <title>Invoicer</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <%= link_to "Invoicer", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <% if user_signed_in? %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to t(".invoices"), invoices_path, class: "nav-link", id: "invoices" %>
            </li>
          </ul>
        <% end %>
        <span class="navbar-nav mr-auto mt-2 mt-lg-0"></span>
        <% if user_signed_in? %>
          <div class="form-inline my-2 my-lg-0">
            <%= link_to t("logout_link"), destroy_user_session_path, id: "user-logout", class: "nav-link", tabindex: "-1", aria_disabled: true, method: :delete %>
          </div>
        <% end %>
      </div>
    </nav>
    <div class="container">

      <% if notice %>
      <div class="alert alert-warning" role="alert">
        <%= notice %>
      </div>
      <% end %>
      <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
